table{
    border-spacing: 25px;
}
table td{
    padding: 52px 100px;
}
.one{
    height: 50px;
    width: 400px;
    background-image: url(images/9.jpg);
    background-position: center;
    background-size: cover;
}
.two{
    height: 50px;
    width: 400px;
    background-image: url(images/30.jpg);
    background-position: center;
    background-size: cover;
}
.three{
    height: 50px;
    width: 400px;
    background-image: url(images/33.jpg);
    background-position: center;
    background-size: cover;
}
.three p{
    padding: 5px;
    outline: white solid 2px;
}
.four{
    height: 50px;
    width: 400px;
    background-image: url(images/37.jpg);
    background-position: center;
    background-size: cover;
}
p{
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans Regular';
}