*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#000;
    min-height: 100vh;
    color: #fff;
    font-size: 1.5rem;
}
button, form input {
    outline: none;
}
.header, .todo-area {
    width: 100%;
    text-align: center;
    
}

.header, form {
    /* border:2px solid red; */
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    background: #fff;
    /* border-radius:5px; */
}

form button {
    color: coral;
    /* padding:15px; */
    transition: .3s;
    cursor: pointer;
}

form button:hover {
    background: coral;
    color: #fff;
}

.todo li {
    flex: 1;
    padding-left: 0.5rem;
    padding-bottom:0.4rem;
}

ul#todolist {
    list-style: none;
    min-width: 30%;
    
}

.todo-container {
    justify-content:center;
    align-items: center;
    display: flex;}

.todo {
    background: #fff;
    margin: 0.5rem;
    color: #000;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
    

.check-btn, .trash-btn {
    float: right;
    font-size: 1rem;
    border: none;
    background: coral;
    color: #fff;
    padding: 0.6rem;
    cursor: pointer;
    transition: .3s;
}

button.trash-btn {
    background: #f04a4a;
}

button.check-btn {
    background: #36a036;
}

button.trash-btn:hover {
    background: red;
}

button.check-btn:hover {
    background: green;
}

.fa-check, .fa-trash{
    pointer-events: none;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
    transition: 0.5s;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    padding: 0.9rem;
    width: 10rem;
    cursor: pointer;
   
}
#select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
#select::after{
    content: "\25BC";
    position: absolute;
    top:-5px;
    right: 0;
    background-color: coral;
    color: #fff;
    pointer-events: none;
    padding: 0.7rem;
    transition: all 0.3s ease;
}
#select:hover::after{
    background: #fff;
    color: coral;
}